<div class="box">
  <article class="media">
    <div class="media-content">
      <div class="content">
        <p>
          <p>
            <em><%= link_to @post.user, @post.user %>
            </em>
          </p>
          <%= comment.comment %>
        </p>
      </div>
    </div>
    <%= link_to 'Delete', [comment.post, comment],
                  method: :delete, class: "button is-danger", data: { confirm: 'Are you sure?' } %>
  </article>
</div>
