<div class="box commentBox">
  <article class="media">
    <div class="media-content">
      <div class="content">
        <p>
          <p class="commentName">
            Comment by:
            <em>
              <%= link_to @post.user do %>
              <%= content_tag :span, @post.user, :class => "postHeader" %>
              <% end %>
            </em>
          </p>
          <%= comment.comment %>
        </p>
      </div>
    </div>
    <div class="delete">
      <%= link_to 'Delete', [comment.post, comment],
                    method: :delete, class: "button is-danger", data: { confirm: 'Are you sure?' } %>

    </div>
  </article>
</div>
